<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gas</key>
	<array>
		<string>АИ-98</string>
		<string>АИ-95</string>
		<string>АИ-92</string>
		<string>АИ-80</string>
		<string>ДТ</string>
	</array>
	<key>Company</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Газпромнефть</string>
			<key>Logo</key>
			<string>gazprom-neft.jpg</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Taxioil</string>
			<key>Logo</key>
			<string>taxioil.jpg</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Лукойл</string>
			<key>Logo</key>
			<string>lykoil.jpg</string>
		</dict>
	</array>
	<key>Gas Stations</key>
	<array>
		<dict>
			<key>Comp_id</key>
			<integer>0</integer>
			<key>Price</key>
			<string>33.55,25.50,30.70,34.40,33.00</string>
			<key>newPrice</key>
			<array>
				<string>34.40</string>
				<string>33.55</string>
				<string>30,70</string>
				<string>25.50</string>
				<string>33.00</string>
			</array>
			<key>Fuel_name_and_Price_list</key>
			<array>
				<dict>
					<key>Gas_type</key>
					<integer>4</integer>
					<key>Gas_name</key>
					<string>ДТ</string>
					<key>Gas_price</key>
					<string>34</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95G</string>
					<key>Gas_price</key>
					<string>38</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>0</integer>
					<key>Gas_name</key>
					<string>АИ-98</string>
					<key>Gas_price</key>
					<string>35</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95</string>
					<key>Gas_price</key>
					<string>33</string>
				</dict>
			</array>
			<key>Rating</key>
			<real>4.5</real>
			<key>Fueltype</key>
			<string>АИ-95, АИ-80, АИ-92, АИ-98, ДТ</string>
			<key>Worktime</key>
			<string>24/7, 19:00-19:20 - тех. перерыв</string>
			<key>Address</key>
			<string>Ул. Ларина 32, М7, Нижний Новгород</string>
			<key>Coordinate-d</key>
			<real>56.236169</real>
			<key>Coordinate-s</key>
			<real>44.021683</real>
			<key>Pay</key>
			<string>Наличные, Visa, MasterCard</string>
			<key>Dateupdate</key>
			<date>2014-05-16T09:43:55Z</date>
			<key>Extra</key>
			<string>Туалет</string>
		</dict>
		<dict>
			<key>newPrice</key>
			<array>
				<string>34.35</string>
				<string>35.50</string>
				<string>30.45</string>
				<string>24.40</string>
				<string>32.85</string>
			</array>
			<key>Fuel_name_and_Price_list</key>
			<array>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95</string>
					<key>Gas_price</key>
					<string>35</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>0</integer>
					<key>Gas_name</key>
					<string>АИ-98</string>
					<key>Gas_price</key>
					<string>35.50</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>2</integer>
					<key>Gas_name</key>
					<string>АИ-92</string>
					<key>Gas_price</key>
					<string>32</string>
				</dict>
			</array>
			<key>Comp_id</key>
			<integer>1</integer>
			<key>Price</key>
			<string>30.45,35.50,32.85</string>
			<key>Rating</key>
			<integer>4</integer>
			<key>Fueltype</key>
			<string>АИ-92, АИ-95, ДТ</string>
			<key>Worktime</key>
			<string>24/7</string>
			<key>Address</key>
			<string>Ул. Коминтерна-Бурнаковская 32А, Нижний Новгород</string>
			<key>Coordinate-d</key>
			<string>56.341127</string>
			<key>Coordinate-s</key>
			<real>43.8789804</real>
			<key>Pay</key>
			<string>Наличные, Visa, MasterCard</string>
			<key>Dateupdate</key>
			<date>2014-05-19T09:43:55Z</date>
			<key>Extra</key>
			<string>Туалет</string>
		</dict>
		<dict>
			<key>newPrice</key>
			<array>
				<string>35.00</string>
				<string>33.85</string>
				<string>30.70</string>
				<string>24.40</string>
				<string>33.40</string>
			</array>
			<key>Fuel_name_and_Price_list</key>
			<array>
				<dict>
					<key>Gas_type</key>
					<integer>2</integer>
					<key>Gas_name</key>
					<string>АИ-92</string>
					<key>Gas_price</key>
					<string>33</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>0</integer>
					<key>Gas_name</key>
					<string>АИ-98</string>
					<key>Gas_price</key>
					<string>35</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95</string>
					<key>Gas_price</key>
					<string>34</string>
				</dict>
			</array>
			<key>Comp_id</key>
			<integer>2</integer>
			<key>Price</key>
			<string>33.85,30.70,35.00,33.40</string>
			<key>Rating</key>
			<real>4.7</real>
			<key>Fueltype</key>
			<string>АИ-95, АИ-92, АИ-98, ДТ</string>
			<key>Worktime</key>
			<string>24/7</string>
			<key>Address</key>
			<string>Ул. Салганская 31, Нижний Новгород</string>
			<key>Coordinate-d</key>
			<string>56.302284</string>
			<key>Coordinate-s</key>
			<real>44.013588</real>
			<key>Pay</key>
			<string>Наличные, Visa, MasterCard</string>
			<key>Dateupdate</key>
			<date>2014-05-19T09:43:55Z</date>
			<key>Extra</key>
			<string>Магазин, Терминал Оплаты</string>
		</dict>
		<dict>
			<key>newPrice</key>
			<array>
				<string>35.00</string>
				<string>33.85</string>
				<string>30.70</string>
				<string>25.40</string>
				<string>33.40</string>
			</array>
			<key>Fuel_name_and_Price_list</key>
			<array>
				<dict>
					<key>Gas_type</key>
					<integer>2</integer>
					<key>Gas_name</key>
					<string>АИ-92</string>
					<key>Gas_price</key>
					<string>33</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>0</integer>
					<key>Gas_name</key>
					<string>АИ-98</string>
					<key>Gas_price</key>
					<string>35</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95</string>
					<key>Gas_price</key>
					<string>34</string>
				</dict>
			</array>
			<key>Comp_id</key>
			<integer>2</integer>
			<key>Price</key>
			<string>33.85,30.70,35.00,33.40</string>
			<key>Rating</key>
			<real>4.7</real>
			<key>Fueltype</key>
			<string>АИ-95, АИ-92, АИ-98, ДТ</string>
			<key>Worktime</key>
			<string>24/7</string>
			<key>Address</key>
			<string>Ул. Красная Слобода 10, Нижний Новгород</string>
			<key>Coordinate-d</key>
			<string>56.328718</string>
			<key>Coordinate-s</key>
			<real>44.031129</real>
			<key>Pay</key>
			<string>Наличные, Visa, MasterCard</string>
			<key>Dateupdate</key>
			<date>2014-05-25T13:44:55Z</date>
			<key>Extra</key>
			<string>Магазин, Wi-Fi, Туалет, Терминал Оплаты, Заправщик</string>
		</dict>
		<dict>
			<key>newPrice</key>
			<array>
				<string>35.00</string>
				<string>33.85</string>
				<string>30.70</string>
				<string>24.40</string>
				<string>33.40</string>
			</array>
			<key>Fuel_name_and_Price_list</key>
			<array>
				<dict>
					<key>Gas_type</key>
					<integer>2</integer>
					<key>Gas_name</key>
					<string>АИ-92</string>
					<key>Gas_price</key>
					<string>33</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>0</integer>
					<key>Gas_name</key>
					<string>АИ-98</string>
					<key>Gas_price</key>
					<string>35</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95</string>
					<key>Gas_price</key>
					<string>34</string>
				</dict>
			</array>
			<key>Comp_id</key>
			<integer>2</integer>
			<key>Price</key>
			<string>33.85,30.70,33.40</string>
			<key>Rating</key>
			<real>4.7</real>
			<key>Fueltype</key>
			<string>АИ-95, АИ-92, ДТ</string>
			<key>Worktime</key>
			<string>24/7</string>
			<key>Address</key>
			<string>Ул. пр-т Гагарина 121а, Нижний Новгород</string>
			<key>Coordinate-d</key>
			<string>56.22159</string>
			<key>Coordinate-s</key>
			<real>44.084015</real>
			<key>Pay</key>
			<string>Наличные, Visa, MasterCard</string>
			<key>Dateupdate</key>
			<date>2014-05-25T13:57:55Z</date>
			<key>Extra</key>
			<string>Магазин, Wi-Fi, Туалет, Терминал Оплаты, Мойка</string>
		</dict>
		<dict>
			<key>newPrice</key>
			<array>
				<string>35.00</string>
				<string>33.85</string>
				<string>30.70</string>
				<string>24.40</string>
				<string>33.40</string>
			</array>
			<key>Fuel_name_and_Price_list</key>
			<array>
				<dict>
					<key>Gas_type</key>
					<integer>2</integer>
					<key>Gas_name</key>
					<string>АИ-92</string>
					<key>Gas_price</key>
					<string>33</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>0</integer>
					<key>Gas_name</key>
					<string>АИ-98</string>
					<key>Gas_price</key>
					<string>35</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95</string>
					<key>Gas_price</key>
					<string>34</string>
				</dict>
			</array>
			<key>Comp_id</key>
			<integer>2</integer>
			<key>Price</key>
			<string>33.85,30.70,33.40</string>
			<key>Rating</key>
			<real>4.7</real>
			<key>Fueltype</key>
			<string>АИ-95, АИ-92, ДТ</string>
			<key>Worktime</key>
			<string>24/7</string>
			<key>Address</key>
			<string>Ул. Московское ш. 34а, Нижний Новгород</string>
			<key>Coordinate-d</key>
			<string>56.318362</string>
			<key>Coordinate-s</key>
			<real>43.929541</real>
			<key>Pay</key>
			<string>Наличные, Visa, MasterCard</string>
			<key>Dateupdate</key>
			<date>2014-05-25T14:00:55Z</date>
			<key>Extra</key>
			<string>Магазин</string>
		</dict>
		<dict>
			<key>Comp_id</key>
			<integer>0</integer>
			<key>Price</key>
			<string>33.55,25.50,30.70,34.40,33.00</string>
			<key>newPrice</key>
			<array>
				<string>34.40</string>
				<string>33.55</string>
				<string>30,70</string>
				<string>25.50</string>
				<string>33.00</string>
			</array>
			<key>Fuel_name_and_Price_list</key>
			<array>
				<dict>
					<key>Gas_type</key>
					<integer>4</integer>
					<key>Gas_name</key>
					<string>ДТ</string>
					<key>Gas_price</key>
					<string>34</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95G</string>
					<key>Gas_price</key>
					<string>38</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>0</integer>
					<key>Gas_name</key>
					<string>АИ-98</string>
					<key>Gas_price</key>
					<string>35</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95</string>
					<key>Gas_price</key>
					<string>33</string>
				</dict>
			</array>
			<key>Rating</key>
			<real>4.5</real>
			<key>Fueltype</key>
			<string>АИ-95, АИ-80, АИ-92, АИ-98, ДТ</string>
			<key>Worktime</key>
			<string>24/7, 19:00-19:20 - тех. перерыв</string>
			<key>Address</key>
			<string>Ул. Комсомольская пл., 3а, Нижний Новгород</string>
			<key>Coordinate-d</key>
			<real>56.29936</real>
			<key>Coordinate-s</key>
			<real>43.94537</real>
			<key>Pay</key>
			<string>Наличные, Visa, MasterCard</string>
			<key>Dateupdate</key>
			<date>2014-06-05T05:44:55Z</date>
			<key>Extra</key>
			<string>Туалет</string>
		</dict>
		<dict>
			<key>Comp_id</key>
			<integer>0</integer>
			<key>Price</key>
			<string>33.55,25.50,30.70,34.40,33.00</string>
			<key>newPrice</key>
			<array>
				<string>34.40</string>
				<string>33.55</string>
				<string>30,70</string>
				<string>25.50</string>
				<string>33.00</string>
			</array>
			<key>Fuel_name_and_Price_list</key>
			<array>
				<dict>
					<key>Gas_type</key>
					<integer>4</integer>
					<key>Gas_name</key>
					<string>ДТ</string>
					<key>Gas_price</key>
					<string>34</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95G</string>
					<key>Gas_price</key>
					<string>38</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>0</integer>
					<key>Gas_name</key>
					<string>АИ-98</string>
					<key>Gas_price</key>
					<string>35</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95</string>
					<key>Gas_price</key>
					<string>33</string>
				</dict>
			</array>
			<key>Rating</key>
			<real>4.5</real>
			<key>Fueltype</key>
			<string>АИ-95, АИ-80, АИ-92, АИ-98, ДТ</string>
			<key>Worktime</key>
			<string>24/7, 19:00-19:20 - тех. перерыв</string>
			<key>Address</key>
			<string>Ул. Героя Попова ,58в, Нижний Новгород</string>
			<key>Coordinate-d</key>
			<real>56.256446</real>
			<key>Coordinate-s</key>
			<real>43.931121</real>
			<key>Pay</key>
			<string>Наличные, Visa, MasterCard</string>
			<key>Dateupdate</key>
			<date>2014-06-04T05:43:55Z</date>
			<key>Extra</key>
			<string>Туалет</string>
		</dict>
		<dict>
			<key>Comp_id</key>
			<integer>0</integer>
			<key>Price</key>
			<string>33.55,25.50,30.70,34.40,33.00</string>
			<key>newPrice</key>
			<array>
				<string>34.40</string>
				<string>33.55</string>
				<string>30,70</string>
				<string>25.50</string>
				<string>33.00</string>
			</array>
			<key>Fuel_name_and_Price_list</key>
			<array>
				<dict>
					<key>Gas_type</key>
					<integer>4</integer>
					<key>Gas_name</key>
					<string>ДТ</string>
					<key>Gas_price</key>
					<string>34</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95G</string>
					<key>Gas_price</key>
					<string>38</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>0</integer>
					<key>Gas_name</key>
					<string>АИ-98</string>
					<key>Gas_price</key>
					<string>35</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95</string>
					<key>Gas_price</key>
					<string>33</string>
				</dict>
			</array>
			<key>Rating</key>
			<real>4.5</real>
			<key>Fueltype</key>
			<string>АИ-95, АИ-80, АИ-92, АИ-98, ДТ</string>
			<key>Worktime</key>
			<string>24/7, 19:00-19:20 - тех. перерыв</string>
			<key>Address</key>
			<string>Ул.Федосеенко ,63, Нижний Новгород</string>
			<key>Coordinate-d</key>
			<real>56.33669</real>
			<key>Coordinate-s</key>
			<real>43.798689</real>
			<key>Pay</key>
			<string>Наличные, Visa, MasterCard</string>
			<key>Dateupdate</key>
			<date>2014-06-04T05:43:55Z</date>
			<key>Extra</key>
			<string>Туалет</string>
		</dict>
		<dict>
			<key>Comp_id</key>
			<integer>0</integer>
			<key>Price</key>
			<string>33.55,25.50,30.70,34.40,33.00</string>
			<key>newPrice</key>
			<array>
				<string>34.40</string>
				<string>33.55</string>
				<string>30,70</string>
				<string>25.50</string>
				<string>33.00</string>
			</array>
			<key>Fuel_name_and_Price_list</key>
			<array>
				<dict>
					<key>Gas_type</key>
					<integer>4</integer>
					<key>Gas_name</key>
					<string>ДТ</string>
					<key>Gas_price</key>
					<string>34</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95G</string>
					<key>Gas_price</key>
					<string>38</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>0</integer>
					<key>Gas_name</key>
					<string>АИ-98</string>
					<key>Gas_price</key>
					<string>35</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95</string>
					<key>Gas_price</key>
					<string>33</string>
				</dict>
			</array>
			<key>Rating</key>
			<real>4.5</real>
			<key>Fueltype</key>
			<string>АИ-95, АИ-80, АИ-92, АИ-98, ДТ</string>
			<key>Worktime</key>
			<string>24/7, 19:00-19:20 - тех. перерыв</string>
			<key>Address</key>
			<string>Ул.Ярошенко ,1а, Нижний Новгород</string>
			<key>Coordinate-d</key>
			<real>56.330379</real>
			<key>Coordinate-s</key>
			<real>43.857937</real>
			<key>Pay</key>
			<string>Наличные, Visa, MasterCard</string>
			<key>Dateupdate</key>
			<date>2014-06-04T05:43:55Z</date>
			<key>Extra</key>
			<string>Туалет</string>
		</dict>
		<dict>
			<key>newPrice</key>
			<array>
				<string>34.35</string>
				<string>35.50</string>
				<string>30.45</string>
				<string>24.40</string>
				<string>32.85</string>
			</array>
			<key>Fuel_name_and_Price_list</key>
			<array>
				<dict>
					<key>Gas_type</key>
					<integer>1</integer>
					<key>Gas_name</key>
					<string>АИ-95</string>
					<key>Gas_price</key>
					<string>35</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>0</integer>
					<key>Gas_name</key>
					<string>АИ-98</string>
					<key>Gas_price</key>
					<string>35.50</string>
				</dict>
				<dict>
					<key>Gas_type</key>
					<integer>2</integer>
					<key>Gas_name</key>
					<string>АИ-92</string>
					<key>Gas_price</key>
					<string>32</string>
				</dict>
			</array>
			<key>Comp_id</key>
			<integer>1</integer>
			<key>Price</key>
			<string>30.45,35.50,32.85</string>
			<key>Rating</key>
			<integer>4</integer>
			<key>Fueltype</key>
			<string>АИ-92, АИ-95, ДТ</string>
			<key>Worktime</key>
			<string>24/7</string>
			<key>Address</key>
			<string>Ул. Долгополова 84А, Нижний Новгород</string>
			<key>Coordinate-d</key>
			<string>56.314236</string>
			<key>Coordinate-s</key>
			<real>43.945455</real>
			<key>Pay</key>
			<string>Наличные, Visa, MasterCard</string>
			<key>Dateupdate</key>
			<date>2014-06-05T06:43:55Z</date>
			<key>Extra</key>
			<string>Туалет</string>
		</dict>
	</array>
</dict>
</plist>
